{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}

{% block title %}Work{% endblock %}
{% block meta_description %}Work in Allegan, Michigan.{% endblock %}

{% block body %}
<style>
.gi {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.gt {
    width:28px;
    height:28px;
    border-radius:14px;
    font-size:14px;
    color:#fff;
    line-height:28px;
    text-align:center;
    background:#000;
    overflow: hidden;
    margin: 0;
}

.table > tbody > tr > td {
     vertical-align: middle;
}
td {
    text-align: center;
}
th {
    text-align: center;
}

.fa-dollar {
    color: green;
}

td.salary span.salary-time {
    font-size: 90%;
}
</style>

    <div class="row">
        <div class="col-md-6">
            {{ f.search(request.endpoint) }}
        </div>
        <a href="{{ url_for('work.new') }}"
            class="btn btn-primary pull-right">
            Create work
        </a>
    </div>

    {% if results.total == 0 %}
        <h3>No results found</h3>

        {% if request.args.get('q') %}
            <p>Try limiting or removing your search terms.</p>
        {% else %}
        <p>There is no work present.</p>
        {% endif %}
    {% else %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 50px"></th> <!-- Emblem -->
                        <th class="col-header" style="text-align: left">
                            Title
                        </th>
                        <th class="col-header">
                            Salary
                        </th>
                        <th class="col-header">
                            Status
                        </th>
                        <th class="col-header"></th> <!-- Button -->
                        <th class="col-header"></th> <!-- Button -->
                    </tr>
                </thead> 
                <tbody>
                    {% for work in results.items %}
                    {% set asset_img = asset('business', (work.id % 4) + 1) %}
                    <tr>
                        <td>
                        {% if asset_img %}
                            <img class="gi" src="{{ asset_img }}"></img>
                        {% else %}
                            <div class="gt">{{ work.title[0].upper() }}</div>
                        {% endif %}
                        </td> <!-- Emblem -->
                        <td style="text-align: left">{{ work.title }}</td>

                        <!-- Salary -->
                        <td class="salary">
                            {{ work.salary_text }}
                            <span class="salary-time">/ hour</span>
                            
                            <br>
                            {% for n in range(work.salary_percentile) %}
                                <i class="fa fa-dollar"></i>
                            {% endfor %}
                        </td>
                        <!-- End Salary -->

                        <td>{{ work.status_title }}</td>
                        <td><a href="#" class="btn btn-primary">Details</a></td>
                        <td><a href="#" class="btn btn-primary">Apply</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        {{ items.paginate(results) }}
    {% endif %}
{% endblock %}
