# Celery
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat-schedule.bak

# Private
instance/settings.py

# Egg
*.egg-info/*

# Assets
myallegan/static/assets/

# Docs
docs/docstrings/build/

# PyTest
.cache/
.coverage
